@value app_bg: #282c34;
@value app_fg: white;

.App {
  background-color: app_bg;
  color: app_fg;
}

.Narrow {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 50vw;
  min-width: 400px;
  max-width: 600px;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0 auto;
  position: relative;
}

.Header {
  flex-grow: 10;
  border: 1px solid app_fg;
  font-size: 1.5rem;
  text-align: center;

  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: stretch;
}

.CardSetSelect {
  /* border: none; */
  outline: 0px;
  flex-grow: 1;
  background-color: app_bg;
  color: app_fg;
  font-size: 1.4rem;
  text-align: center;
}

.Item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 45vh;
  height: 45dvh;
  border: 1px solid app_fg;
}

.ItemLabel {
  text-align: left;
  font-size: 0.8rem;
  padding: 5px;
}

.ItemValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
}

.Answers {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  flex-grow: 1;
  text-align: center;
  border: 1px solid app_fg;
}

.Answer {
  flex-grow: 1;
  font-size: 1.5rem;
  color: white;
}

.AnswerYes {
  composes: Answer;
  background-color: green;
}

.AnswerNo {
  composes: Answer;
  background-color: red;
}
.AnswerNo:disabled {
  background-color: darkred;
  color: grey;
  opacity: 0.5;
  cursor: default;
}

.AnswerOpt {
  composes: Answer;
  flex-grow: 0;
  background-color: navy;
}
