.App {
  background-color: #282c34;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.Narrow {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 50vw;
  min-width: 400px;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
}


.Item {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  flex-grow: 1;
  border: 1px solid white;
}

.ItemLabel {
  text-align: left;
  font-size: 0.8rem;
  padding: 5px;
}

.ItemValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  /* background-color: darkmagenta; */
}

.Answers {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  height: 5vh;
  text-align: center;
  border: 1px solid white;
}

.Answer {
  flex-grow: 1;
  /* min-width: 100px; */
  font-size: 1.5rem;
  color: white;
}

.AnswerYes {
  composes: Answer;
  background-color: green;
}

.AnswerNo {
  composes: Answer;
  background-color: red;
}
.AnswerNo:disabled {
  background-color: darkred;
  color: grey;
  opacity: 0.5;
  cursor: default;
}

.AnswerOpt {
  composes: Answer;
  flex-grow: 0;
  /* width: 20px; */
  background-color: navy;
}
